@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply dark:bg-dark-800 bg-gray-50;
  }
  .tooltip {
    @apply invisible;
  }
  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }
  .skeleton-box {
    @apply relative overflow-hidden bg-slate-200 dark:bg-dark-900;
  }
  .skeleton-box::after {
    @apply absolute top-0 right-0 bottom-0 left-0 -translate-x-full;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0)
    );
    animation: shimmer 1.5s infinite;
    content: "";
  }
  @media (prefers-color-scheme: dark) {
    .skeleton-box::after {
      background-image: linear-gradient(
        90deg,
        rgba(36, 39, 49, 0) 0,
        rgba(36, 39, 49, 0.3) 20%,
        rgba(36, 39, 49, 0.7) 60%,
        rgba(36, 39, 49, 0)
      );
    }
  }
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
  #crypto-description > a {
    @apply text-blue-500 hover:text-blue-600;
  }
  ::-webkit-scrollbar {
    @apply bg-gray-100 dark:bg-gray-700 dark:bg-opacity-20;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-gray-300 dark:bg-dark-400 dark:bg-opacity-50;
  }
}

#nprogress .bar {
  background: rgb(37 99 235) !important;
}

#nprogress .spinner-icon {
  border-top-color: rgb(37 99 235) !important;
  border-left-color: rgb(37 99 235) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px rgb(37 99 235), 0 0 5px rgb(37 99 235) !important;
}

.secondary-dropdown-enter {
  opacity: 0;
  transform: translateX(-50px);
}
.secondary-dropdown-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.secondary-dropdown-exit {
  opacity: 1;
}
.secondary-dropdown-exit-active {
  opacity: 0;
  /* transform: scale(0.9); */
  transform: translateX(-50px);
  transition: opacity 300ms, transform 300ms;
}
.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: white;
}
.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}
.coin-refresh {
  /* padding-left: 8px; */
  width: 100px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: linear-gradient(to right, #50c9c3, #96deda);
  margin-bottom: 20px;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(to right, #f2709c, #ff9472);
}

.coin-input::placeholder {
  color: #e2e2e2;
}
.coin-container {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  color: white;
  width: 1500px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

.coin .coin-name {
  width: 250px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 155px;
}

.coin-marketcap {
  width: 230px;
}

.coin-percent {
  width: 100px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}
